
<ion-view view-title="{{ 'mma.assignments.assignments' | translate }}">
    <mm-split-view load-when="assignmentsLoaded" load="{{assignmentToLoad}}" component="mmaAssignmentsList" menu-state="site.assignments">

        <ion-tabs class="spark tabs-positive tabs-top">

            <ion-tab title="{{ 'mma.assignments.missing' | translate}}" badge="totalmissing">
                <ion-pane>
                    <ion-content class="has-tabs-top has-footer" mm-state-class delegate-handle="mmaAssignmentsListScroll">

                        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="assignmentsLoaded" on-refresh="refreshAssignments()">
                        </ion-refresher>
                        <mm-loading hide-until="assignmentsLoaded">

                            <div class="list">
                                <section ng-repeat="missing in missingassignments" class="list card">
                                    <div class="item" style="padding: 10px;">
                                        <h2 style="height: 22px;">{{missing.coursename}}</h2>
                                    </div>
                                    <ul class="list">
                                        <li ng-repeat="assignment in missing.missingassignments">
                                            <a class="item item-media item-text-wrap" mm-split-view-link="site.assignment-type({type: 'missing',id: assignment.coursemoduleid})" title="{{assignment.title}}">
                                                <img ng-src="{{assignment.icon}}">
                                                <h2><mm-format-text watch="true">{{assignment.title}}</mm-format-text></h2>
                                                <p>{{ assignment.duedate | mmToLocaleString }}</p>
                                                <p style="color:red;" n-if="{{assignment.feedback}}">{{ assignment.feedback }}</p>
                                            </a>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                            <mm-empty-box ng-if="!missingassignments || missingassignments.length == 0" icon="ion-ios-list" message="{{ 'mma.assignments.nomissingassignmentsreturned' | translate }}"></mm-empty-box>
                        </mm-loading>
                    </ion-content>
                </ion-pane>
            </ion-tab>
            <ion-tab title="{{ 'mma.assignments.upcoming' | translate}}" badge="totalupcoming">
                <ion-pane>
                    <ion-content class="has-tabs-top  has-footer" mm-state-class delegate-handle="mmaAssignmentsListScroll">

                        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="assignmentsLoaded" on-refresh="refreshAssignments()">
                        </ion-refresher>
                        <mm-loading hide-until="assignmentsLoaded">

                            <div class="list">
                                <section ng-repeat="upcoming in upcomingassignments" class="list card">
                                    <div class="item" style="padding: 10px;">
                                        <h2 style="height: 22px;">{{upcoming.coursename}}</h2>
                                    </div>
                                    <ul class="list">
                                        <li ng-repeat="assignment in upcoming.upcomingassignments">
                                            <a class="item item-media item-text-wrap" mm-split-view-link="site.assignment-type({type: 'upcoming',id: assignment.coursemoduleid})" title="{{assignment.title}}">
                                                <img ng-src="{{assignment.icon}}">
                                                <h2><mm-format-text watch="true">{{assignment.title}}</mm-format-text></h2>
                                                <p>{{ assignment.duedate | mmToLocaleString }}</p>
                                                <p style="color:red;" n-if="{{assignment.feedback}}">{{ assignment.feedback }}</p>
                                            </a>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                            <mm-empty-box ng-if="!upcomingassignments || upcomingassignments.length == 0" icon="ion-ios-list" message="{{ 'mma.assignments.noupcomingassignmentsreturned' | translate }}"></mm-empty-box>
                        </mm-loading>
                    </ion-content>
                </ion-pane>
            </ion-tab>
            <ion-tab title="{{ 'mma.assignments.lowgrade' | translate}}" badge="totalbelowgrade">
                <ion-pane>
                    <ion-content class="has-tabs-top has-footer" mm-state-class delegate-handle="mmaAssignmentsListScroll">

                        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="assignmentsLoaded" on-refresh="refreshAssignments()">
                        </ion-refresher>
                        <mm-loading hide-until="assignmentsLoaded">

                            <div class="list">
                                <section ng-repeat="grades in belowgradesassignments" class="list card">
                                    <div class="item" style="padding: 10px;">
                                        <h2 style="height: 22px;">{{grades.coursename}}</h2>
                                    </div>
                                    <ul class="list">
                                        <li ng-repeat="assignment in grades.belowgrades">
                                            <a class="item item-media item-text-wrap" mm-split-view-link="site.assignment-type({type: 'below',id: assignment.coursemoduleid})" title="{{assignment.title}}">
                                                <img ng-src="{{assignment.icon}}">
                                                <h2><mm-format-text watch="true">{{assignment.title}}</mm-format-text></h2>
                                                <p>{{ assignment.duedate | mmToLocaleString }}</p>
                                                <p style="color:red;" ng-if="assignment.feedback">{{ assignment.feedback }}</p>
                                            </a>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                            <mm-empty-box ng-if="!belowgradesassignments || belowgradesassignments.length == 0" icon="ion-ios-list" message="{{ 'mma.assignments.nolowgradeassignmentsreturned' | translate }}"></mm-empty-box>
                        </mm-loading>
                    </ion-content>
                </ion-pane>
            </ion-tab>

        </ion-tabs>

    </mm-split-view>
    <ion-footer-bar ng-if="isparentuser" style="padding-top:5px;border-style:none" class="bar-stable tabs">
        <div class="button-bar button-small" >
            <a class="button" ng-class="{'spark button-active': isCurrent(student.id)}" ng-repeat="student in students" ng-click="setCurrentStudentById(student.id)">
                {{student.firstname}} {{student.lastname }}</a>
        </div>
    </ion-footer-bar>
</ion-view>