<!--<ion-content class="has-tabs" mm-state-class>-->
<!--<ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="loaded" on-refresh="refresh()"></ion-refresher>-->

<!--<ul class="list">-->
<!--<li ng-repeat="missingassignment in missingassignments">-->
<!--<div>-->
<!--<h3>{{missingassignment.coursename}}</h3>-->
<!--<p ng-repeat="missing in missingassignment.missingassignments">{{missing.title}}</p>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--</ion-content>-->



<ion-view>
    <ion-nav-title><mm-format-text watch="true">{{title}}</mm-format-text></ion-nav-title>
    <ion-content mm-state-class>
        <!-- ion-refresher needs to be direct child of ion-content to work with native scrolling -->
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="eventLoaded"
                       on-refresh="refreshEvent()">
        </ion-refresher>
        <mm-loading hide-until="eventLoaded">
            <article>
                <!--<h2 ng-repeat="missingassignment in missingassignments">{{missingassignment.coursename}}</h2>-->
                <!--<ul class="list card" ng-repeat="missing in missingassignment.missingassignments">-->
                <!--<li class="item item-text-wrap">-->
                <!--<h2>{{missing.title}}</h2>-->
                <!--<h2><mm-format-text watch="true">Title: {{missing.title}}</mm-format-text></h2>-->
                <!--</li>-->
                <!--<li class="item item-text-wrap">-->
                <!--<p><mm-format-text watch="true">Due date: {{missing.duedate}}</mm-format-text></p>-->
                <!--</li>-->
                <!--<li class="item item-text-wrap">-->
                <!--<p><mm-format-text watch="true">Date graded: {{missing.dategraded}}</mm-format-text></p>-->
                <!--</li>-->
                <!--<li class="item item-text-wrap">-->
                <!--<p><mm-format-text watch="true">Grade: {{missing.grademax}}</mm-format-text></p>-->
                <!--</li>-->
                </ul>
                <ul class="list">
                    <li ng-repeat="missingassignment in missingassignments">
                        <div>
                            <h3>{{missingassignment.coursename}}</h3>
                            <p ng-repeat="missing in missingassignment.missingassignments">
                                {{missing.title}}
                                <br>
                                Due date: {{missing.duedate | date}}
                                <br>
                                Grade max: {{missing.grademax}}
                            </p>
                        </div>
                    </li>
                </ul>
            </article>
        </mm-loading>
    </ion-content>
</ion-view>